output
buildroot/output
kernel/boot.img
kernel/kernel.img
kernel/zboot.img
rockdev/*
rockdev/MiniLoaderAll.bin
rockdev/boot.img
rockdev/recovery.img
rockdev/rootfs.img
rockdev/uboot.img
rockdev/update.img
rockdev/userdata.img
u-boot/rk3308_loader_v1.26.127.bin
u-boot/u-boot-dtb.bin
u-boot/u-boot-nodtb.bin
u-boot/u-boot.bin
u-boot/uboot.img
.vscode
br.log
prebuilts/*
.rootfs/
ks
buildroot/package/ks
device/rockchip/rk3308/oem
*.o
buildroot/board/rockchip/rk3308/fs-overlay/
device/rockchip/.BoardConfig.mk
device/rockchip/rk3308/oem_h20/
jd_app/h20/lib/
jd_app/h20_hs/lib/
